.router-wrapper {
  padding-top: 40px;
}

.common {
  background-color: rgb(253,253,253);
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 100%;
  padding: 0;
}

p.introduction {
  font-size: x-large;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.footer-copyright {
  padding-top:3%;
  padding-bottom: 3%;
  background-color: #000;
  margin-top: 5%;
  color: #FFF;
}

