<div style="text-align:center" class='common'>

  <div class='container'>

    <navigation></navigation>
    <div class="router-wrapper">
      <router-outlet></router-outlet>
    </div>

    <p class='introduction' i18n="@@global_introduction">
      The Yildiz-engine project is a set of sub-project to build games.
      Among those project are modules, offering functionalities like graphic, audio, physic, network, persistence, scripting,... engines, to coordinate the modules and invoke game logic, and the commons, to offer basic functionalities.
    </p>

    <supporters></supporters>

  <footer>
    <div class='footer-copyright'>
      <p>&copy;2018 Copyright: Gregory Van den Borre</p>
      <version></version>
    </div>
  </footer>
</div>
</div>

