<div>
  <p class='supporter-title'>Build thanks to open-source supporters</p>
  <img class='supporter-logo' src='../../assets/atlassian.png' alt='Atlassian logo'/>
  <img class='supporter-logo' src='../../assets/jetbrains.png' alt='Jetbrains logo'/>
  <img class='supporter-logo' src='../../assets/jprofiler.png' alt='JProfiler logo'/>
</div>
